adapter speed 1000

reset_config srst_only
adapter srst pulse_width 100

adapter driver cmsis-dap

transport select jtag

# debug_level 3

set _CHIPNAME riscv
set _ENDIAN little
jtag newtap $_CHIPNAME cpu -irlen 5

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME
$_TARGETNAME configure -work-area-phys 0x80000000 -work-area-size 10000 -work-area-backup 1

riscv set_reset_timeout_sec 1
